.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-size: 6rem;
    font-weight: 300;
    margin-top: 9rem;
  }

  &__occupation {
    font-size: 2.5rem;
    font-weight: 200;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    justify-content: center;
  }

  &__topic-line {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 2rem;
    color: var(--color-primary);
  }

  &__topic-title {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
  }

  &__about-content {
    font-size: 1.65rem;
    font-weight: 300;
    text-align: center;
    margin: 0 10%;
  }

  &__info {
    font-size: 1.65rem;
    font-weight: 300;
    text-align: center;

      &_list {
        list-style-type: none;

          &-item {

          }
      }
  }

  &__experience {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    margin-bottom: 1.75rem;

    &_position {
      font-size: 1.65rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    &_company {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;

      &-title {

      }

      &-date {

      }
    }

    &_company-info {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: left;
      margin-bottom: 1rem;
    }

    &_detail {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      &-title {
        font-weight: 400;
        text-transform: uppercase;
      }

      &-info {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform:none;
      }
    }

  }
}
