<div class="about-me">
  <h1 class="about-me__name">Sharmilkumar Patel</h1>
  <h4 class="about-me__occupation">Software Developer</h4>

  <div class="about-me__topic-title">
    <span class="about-me__topic-line">______</span> About me <span class="about-me__topic-line">______</span>
  </div>

  <div class="about-me__about-content">
    "I'm result oriented, highly productive and analytical Software Development
    professional with more than 7 years of experience in delivering quality
    software solutions/products in Tech and Finance Industries through continual
    innovation in processes, tools and techniques. Technically strong hands-on
    background with a very positive attitude and passion for excellence."
  </div>

  <!-- <div class="about-me__topic-title">
    <span class="about-me__topic-line">______</span> Professional Skills <span class="about-me__topic-line">______</span>
  </div> -->

  <!-- <div class="about-me__personal-info">
    <ul class="about-me__info-title-list">
      <li class="about-me__info-title">Web/Mobile Application Development</li>
      <li class="about-me__info-title">Web/Mobile App Design</li>
      <li class="about-me__info-title">Web/Mobile Testing</li>
    </ul>
  </div> -->
</div>
