<nav class="sidebar">
  <!-- <div class="profile-photo">
    <img src="assets/Sharmil.png" alt="" class="profile-photo__img">
  </div> -->
  <ul class="side-nav">
    <li class="side-nav__item side-nav__item--active">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="assets/sprite.svg#icon-user"></use>
        </svg>
        <span>About Me</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="assets/sprite.svg#icon-file-text"></use>
        </svg>
        <span>My Services</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="assets/sprite.svg#icon-briefcase"></use>
        </svg>
        <span>My Works</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="assets/sprite.svg#icon-comments"></use>
        </svg>
        <span>My Experiences</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="assets/sprite.svg#icon-phone-square"></use>
        </svg>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
